.project-wrapper {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    @include tablet {
        overflow-x: hidden;
    }

    @include desktop {
        flex-direction: row;

    }


    .project-left-container {
        margin-bottom: sizeX8(6);
        margin-top: sizeX8(2);
        margin-left: sizeX8(6);

        @include desktop {
            width: 300px;
            height: 100vh;
        }
    

        header {
            margin-right: sizeX8(2);
            margin-bottom: sizeX8(4);


        } // header end 

        .pagination {
            display: flex;
            align-items: center;
            width: 40%;

            @include tablet {
                width: 25%;
            }


            .pagination-bars {
                display: flex;
                width: sizeX8(5);
                justify-content: space-between;
                margin-right: sizeX8(2);


                @include desktop {
                    display: none;
                }
    
                .pagination-bar{
                    width: 5px;
                    height: fontSize(medium);
                    background-color: black;

                    @include tablet {
                        height: fontSize(big);
                    }
        
                }
            } // .pagination-bars end 

            p {
                margin: 0;
                font-family: fontFamily(sanSerif);
                font-size: fontSize(small);

                @include tablet {
                    font-size: fontSize(medium);
                }

                @include desktop {
                    display: none;
                }

            }
        } // pagination end 

        .white-space {
            width: 100%;
            height: 55px;
        }

        .house-name-wrapper {

            @include desktop {
                position: absolute;
                top: 55%;
            }

            .handwriting-name-container {
                max-width: 100%;
                margin-bottom: 10px;
                height: fontSize(medium);
                overflow: hidden; 

                @include tablet {
                    height: fontSize(big);
                }

                .handwriting-names {
                    display: grid;
                    grid: column;
                    gap: 20px;

                    @include desktop {
                        text-align: start;
                    }

                    p {
                        font-size: fontSize(medium);
                        text-transform: capitalize;
                        font-family: fontFamily(cursive);
                        margin: 0;

                        @include tablet {
                            font-size: fontSize(big);
                        }
                    }
                }
            } // handwriting-name-container end

            .kanji-name-container {
                max-width: 100%;
                height: fontSize(small);
                overflow: hidden; 

                @include tablet {
                    height: fontSize(big);
                }

                .kanji-names {
                    display: grid;
                    gap: 20px;

                    @include desktop {
                        text-align: start;
                    }


                    p {
                        font-size: fontSize(small);
                        text-transform: capitalize;
                        margin: 0;

                        @include tablet {
                            font-size: fontSize(medium);
                        }
                    }
                }

            } // kanji-name-container end
        } //house-name-wrapper end

    }//project-left-container end

    .project-right-container {
        
        margin: 0 sizeX8(2);
        margin-bottom: sizeX8(7);

        @include desktop {
            margin: 0;
            width: calc(100vw - 300px);
            height: 100%;
            display: grid;
            background-color: red;
        }

        .project-images-container {
            width: 100%;

            .project-image-container {
                width: 100%;
                height: 100%;
                margin-top: sizeX8(2);

                @include desktop {
                    margin: 0;
                }

                img {
                    width: 100%;

                    @include desktop {
                        vertical-align: bottom;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    } //project-right-container

    .next-project-wrapper {
        display: flex;
        justify-content: flex-end;
        height: max-content;
        margin-bottom: sizeX8(3);

        @include desktop {
            justify-content: unset;
            position: absolute;
            bottom: 0;
            left: sizeX8(6);

        }

        .next-project-container {
            width: 80%;
            height: 250px;
            position: relative;

            @include tablet {
                height: 350px;
            }

            @include desktop {
                height: 160px;
                width: 260px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .next-project-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
                text-decoration: none;
                color: black;
                
                p {
                    font-size: fontSize(small);
                    font-family: fontFamily(sanSerif);
                    margin: sizeX8(3);
                    line-height: 1.6em;
                }
            }
        }
    }



} // project wrapper end